# Introduction to Pandas

<img src="files/images/pandas.JPG" height="600" width="600">

Hi! This is a quick intro to the [Pandas](http://pandas.pydata.org/) python library.

We recommend you to take a look to the Pandas documentation and tutorials [here](http://pandas.pydata.org/pandas-docs/stable/tutorials.html#pandas-cookbook) after finishing this intro. We will use these concepts during the WWC Visualisation meetup so it would be grand if you become familiar with them.

So let's start!

## Reading data

Firstly, let's import the pandas library. It is pretty common to rename the library as *pd*.

In [1]:
import pandas as pd

Secondly, let's import some data from our datasets.

The pandas function `read_csv` let us import data from 'comma-separated-like' files. In our case, the columns are separated by ';' so we have to indicated it using the 'sep' argument. The function returns a dataframe, probably the most important structure in Pandas. You can take a look to all the function available for you when using dataframes [here](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html).

For those of you familiar with any SQL-like language or with experiences in Excel, a dataframe is basically a table. As any table, it will have a certain number of columns of different types, and a number of rows. If we specify an index column, Pandas will use it for indexing the rows of our table. If not, it will create a numeric index (basically a range between 0 and the number of rows - 1 for indexing the table). The first row will have index 0. 

We can print a summary of the information in the dataframe using the `info()` function.

In [2]:
df = pd.read_csv('../data/winequality-red.csv',sep=';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 13 columns):
fixed acidity           1599 non-null float64
volatile acidity        1599 non-null float64
citric acid             1599 non-null float64
residual sugar          1599 non-null float64
chlorides               1599 non-null float64
free sulfur dioxide     1599 non-null float64
total sulfur dioxide    1599 non-null float64
density                 1599 non-null float64
pH                      1599 non-null float64
sulphates               1599 non-null float64
alcohol                 1599 non-null float64
quality                 1599 non-null int64
name                    1599 non-null object
dtypes: float64(11), int64(1), object(1)
memory usage: 162.5+ KB

Using `info()` you are now able to answer many questions regarding the data:
- How many columns are there in your dataset?
- What are the types of the features?
- How many missing values are we handling?
- What are the column names?
- What is the index of the dataframe?

Since we haven't specified an index for the dataframe, it has created a numeric index for the dataframe. Thus, we can access the first row of the table using the index 0:

In [3]:
df.iloc[0]

fixed acidity              7.4
volatile acidity           0.7
citric acid                  0
residual sugar             1.9
chlorides                0.076
free sulfur dioxide         11
total sulfur dioxide        34
density                 0.9978
pH                        3.51
sulphates                 0.56
alcohol                    9.4
quality                      5
name                     r0000
Name: 0, dtype: object

You can select a range of rows using the `first_row : last_row` notation. Please note that the `last_row` won't be included in the range. For example, you can select 10 rows of the dataframe starting from the 2 row using:

In [4]:
df.iloc[1:11]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,name
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,r0001
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,r0002
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,r0003
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,r0004
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5,r0005
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5,r0006
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7,r0007
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7,r0008
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5,r0009
10,6.7,0.58,0.08,1.8,0.097,15.0,65.0,0.9959,3.28,0.54,9.2,5,r0010

What about is we want to use the names of the wines as primary index of the table? We have to options:
- We can read the dataframe again an specified the index column using the index_col parameter.
- We can set the index of the existing dataframe using the functions reset_index or set_index. Take a look to the dataframe documentation to learn how to use them. Could you reproduce the dataframe we are getting below using one of these functions?

In [5]:
df = pd.read_csv('../data/winequality-red.csv',sep=';',index_col='name')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1599 entries, r0000 to r1598
Data columns (total 12 columns):
fixed acidity           1599 non-null float64
volatile acidity        1599 non-null float64
citric acid             1599 non-null float64
residual sugar          1599 non-null float64
chlorides               1599 non-null float64
free sulfur dioxide     1599 non-null float64
total sulfur dioxide    1599 non-null float64
density                 1599 non-null float64
pH                      1599 non-null float64
sulphates               1599 non-null float64
alcohol                 1599 non-null float64
quality                 1599 non-null int64
dtypes: float64(11), int64(1)
memory usage: 162.4+ KB

- What are the differences between this dataframe and the one we got above?
- What did happen with the `name` column?

Now, our index is the wines 'fake' names. How would you access the dataframe rows now?. We can keep using the `iloc` function:

In [6]:
df.iloc[0]

fixed acidity            7.4000
volatile acidity         0.7000
citric acid              0.0000
residual sugar           1.9000
chlorides                0.0760
free sulfur dioxide     11.0000
total sulfur dioxide    34.0000
density                  0.9978
pH                       3.5100
sulphates                0.5600
alcohol                  9.4000
quality                  5.0000
Name: r0000, dtype: float64

But now we can also using the names of the wines to access the data with the help of the `loc` function:

In [7]:
df.loc['r0000']

fixed acidity            7.4000
volatile acidity         0.7000
citric acid              0.0000
residual sugar           1.9000
chlorides                0.0760
free sulfur dioxide     11.0000
total sulfur dioxide    34.0000
density                  0.9978
pH                       3.5100
sulphates                0.5600
alcohol                  9.4000
quality                  5.0000
Name: r0000, dtype: float64

## Indexing dataframes

There are three main method of indexing a dataframe (we have already used two of them):
1. **Integer position based:** using the function `iloc` we specified the index of the row or rows we want to return from the datasets. For example, how would you return the 1st, the 3rd and the 134th rows of our dataframe using `iloc`?
2. **Label based:** using thte function `loc` and the names of the index of our table. Could you get the values of the wines called 'w0075' and 'w1000'?
3. **Mixed access:** very useful for access the dataframe using an array of boolean values. For example, would you know how to get the data of the wines with 'fixed acidity' larger than 15.0?

In [8]:
df.iloc[[0,2,133]] # Remember that the rows are indexed starting on 0!!!

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
name,,,,,,,,,,,,
r0000,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
r0002,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
r0133,6.6,0.50,0.01,1.5,0.060,17.0,26.0,0.9952,3.40,0.58,9.8,6

In [9]:
df.loc[['r0075', 'r1000']]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
name,,,,,,,,,,,,
r0075,8.8,0.41,0.64,2.2,0.093,9.0,42.0,0.99860,3.54,0.66,10.5,5
r1000,7.5,0.43,0.30,2.2,0.062,6.0,12.0,0.99495,3.44,0.72,11.5,7

In [10]:
df.ix[df['fixed acidity'] > 15.0]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
name,,,,,,,,,,,,
r0442,15.6,0.685,0.76,3.7,0.100,6.0,43.0,1.00320,2.95,0.68,11.2,7
r0554,15.5,0.645,0.49,4.2,0.095,10.0,23.0,1.00315,2.92,0.74,11.1,5
r0555,15.5,0.645,0.49,4.2,0.095,10.0,23.0,1.00315,2.92,0.74,11.1,5
r0557,15.6,0.645,0.49,4.2,0.095,10.0,23.0,1.00315,2.92,0.74,11.1,5
r0652,15.9,0.360,0.65,7.5,0.096,22.0,71.0,0.99760,2.98,0.84,14.9,5

### Accessing the dataframe columns

We can access the dataframe columns using `['column_name']`. If we are indexing also the rows of the dataframe we index the rows first and then the column.

For example, we can get the 'density' of the first 10 wines using:

In [11]:
df.iloc[0:10]['density']

name
r0000    0.9978
r0001    0.9968
r0002    0.9970
r0003    0.9980
r0004    0.9978
r0005    0.9978
r0006    0.9964
r0007    0.9946
r0008    0.9968
r0009    0.9978
Name: density, dtype: float64

Or we can select to show the first N entries for the table using head()

We can also access multiple columns using a list of names:

In [12]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
name,,,,,,,,,,,,
r0000,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
r0001,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
r0002,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
r0003,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
r0004,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [13]:
df.iloc[0:10][['density', 'chlorides']]

       density  chlorides
name
r0000   0.9978      0.076
r0001   0.9968      0.098
r0002   0.9970      0.092
r0003   0.9980      0.075
r0004   0.9978      0.076
r0005   0.9978      0.075
r0006   0.9964      0.069
r0007   0.9946      0.065
r0008   0.9968      0.073
r0009   0.9978      0.071

An alternative way of accessing the columns is using the . (dot) notation:

In [14]:
df.iloc[0:10].density

name
r0000    0.9978
r0001    0.9968
r0002    0.9970
r0003    0.9980
r0004    0.9978
r0005    0.9978
r0006    0.9964
r0007    0.9946
r0008    0.9968
r0009    0.9978
Name: density, dtype: float64

You can find more documentation about dataframes indexing [here](http://pandas.pydata.org/pandas-docs/stable/indexing.html)

If we want to get a flat matrix (without index) from a slice of a dataframe we can use the `.values` dataframe member:

In [15]:
df.iloc[0:10].density.values

array([ 0.9978,  0.9968,  0.997 ,  0.998 ,  0.9978,  0.9978,  0.9964,
        0.9946,  0.9968,  0.9978])

## SQL-like operations in Pandas

- **SELECT:** select the columns you want to return from your query using the previous methods.
- **WHERE:** use boolean indexing for selecting the rows that fulfill your conditions (like the example we saw before about finding fixed acidity larger than 15.0). You can use the .ix function (if you need it).
- **GROUP:** use the .groupby(column_names). You'll need to use a list of column names if you want to group by more than one column. For example, count the number of wines on each quality slot:
- **JOINS** take a look to the functions merge, join and concatenate [here](http://pandas.pydata.org/pandas-docs/stable/merging.html)

In [16]:
df.groupby('quality').size()

quality
3     10
4     53
5    681
6    638
7    199
8     18
dtype: int64